@media screen and (max-width:1400px) {
    #profile
    {
        height:83vh;
        margin-bottom: 8rem;
    }

    .about-containers
    {
        flex-wrap: wrap;
    }
}





@media screen and (max-width:1200px) {
#desktop-nav{display: none;}   
#hamburger-nav {display: flex;}
.hamburger-links a
{
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}

    #experience, .experience-details-container
    {
        margin-top: 2rem;
    }

    #profile, .section-container
    {
        display:block;
    }

    .virtual
    {
        
        height:20rem; 
        
    }

    .icon-arrow
    {
        display:none;
    }

    section, .section-container
    {
        height: fit-content;
        margin-top: 2rem;
    }

    .section-container
    {
        margin: 0 5%;
    }

    #about .section__pic-container
    {

        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
        display:flex;
        justify-content: center;        
    }

    #profile .section__pic-container
    {

        width: 275px;
        height: 275px;
        margin: 0 auto 5rem;
        display:block;     
    }

    .about-containers
    {
        margin-top: 0;
    }
    
    .color-container 
    {
        width: 40%;
    }


    .streamflow
    {        
        width: 100%;
        display:flex;
        justify-content: left;
    }

    .project-image
    {
        width:100%;
        display:flex;
        justify-content: left;
    }

    .delivery-cannon
    {        
        width: 80%;
        display:flex;
        justify-content: left;
    }
    
}

@media screen and (max-width:600px) {

    #contact, footer
    {
        height:40vh;
    }

    #profile
    {
        height:83vh;
        margin-bottom: 0;
    }

    article
    {
        font-size: 1rem;
    }

    footer nav
    {
        height:fit-content;
        margin-bottom:2rem;
        margin-top:2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container
    {
        flex-wrap: wrap;
    }

    .contact-info-container
    {
        /* margin: 0; */
        display:block;
    }

    .contact-info-container p, .nav-links li a
    {
        text-size: 1rem;
        text-decoration: underline;
    }

    .nav-links li a
    {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        text-underline-offset: 0.35rem;
    }
    .nav-links
    {
        margin-top: 0.5rem;
    }

    .experience-subtitle
    {
        font-size:1.25rem;
    }

    .logo
    {
        font-size: 3rem;
    }


    .section__pic-container
    {
        width:auto;
        height: 46vw;
    }

    .section__text__p2
    {
        font-size:1.25rem;
    }

    .title
    {
        font-size: 2rem;
    }

    .text-container
    {
        text-align: justify;
    }
}
