/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
}

html {scroll-behavior: smooth;}

p {color: rgb(85,85,85);}

/* Transition */
a, .btn {transition: all 300ms ease-in-out;}

/* Desktop Navigation */
nav, .nav-links {display: flex;}

nav
{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links
{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

a
{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 300ms ease-in-out;
}

a:hover
{
    color:gray;
    background-color: rgb(250,250,250);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
    cursor: pointer;
}

.logo{font-size: 2.5rem;}
.logo:hover{cursor: default;}

/* Hamburger Menu */
#hamburger-nav{display: none;}

.hamburger-menu
{
    position: relative;
    display: inline-block;
    
}

.hamburger-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span
{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.hamburger-links
{
    position: absolute;
    top: 100%;
    right:0%;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
}

.hamburger-links a
{
    display:block;
    padding:10px;
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.hamburger-links a:hover
{
    color:gray;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
    cursor: pointer;
}

.hamburger-links li{list-style: none;}
.hamburger-links.open{max-height: 300px;}
.hamburger-icon.open span:first-child{transform: rotate(45deg) translate(10px, 5px);}
.hamburger-icon.open span:nth-child(2){opacity: 0;}
.hamburger-icon.open span:last-child{transform: rotate(-45deg) translate(10px, -5px);}
.hamburger-icon span:first-child {transform:none;}
.hamburger-icon span:first-child {opacity:1;}
.hamburger-icon span:first-child {transform:none;}

/* Sections */
section
{
   padding-top: 4vh;
   height: 96vh;
   margin: 0,10rem;
   box-sizing: border-box;
   min-height: fit-content;
}

.section-container
{
    display: flex;
}

/* Profile Section */
#profile
{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.virtual
{
    height: 25rem;
    border-radius: 50%;
}

.section__pic-container
{
    display: flex;
    height:200px;
    width:200px;
    margin:auto,0px;
}

.section__text
{
    align-self: center;
    text-align: center;
}

.section__text p
{
    font-weight: 600;
}

.section__text__p1
{
    text-align: center;
}

.section__text__p2
{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title
{
    font-size: 3rem;
    text-align: center;
}

#socials-container
{
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

.text-container
{
    border:rgb(163,163,163) 0.1rem solid;
    border-radius:1.5rem;
    padding: 0.75rem;
    margin-right:1rem;
}

.text-container p
{
    color:black;
    font-weight: 200px;
    line-height: 115%;
    text-align: justify;
}

/* Icons */
.icon
{
    height:2rem;
    transition: all 300ms ease-in-out;
}

.icon:hover
{
    transform: scale(1.5);
    opacity:0.75;
    border-radius: 90%;transition: all 300ms ease;
}

.icon:active{opacity:1;transition: all 300ms ease;}

/* Buttons */

.btn-container
{
    display:flex;
    justify-content: center;
    gap:1.5rem;
}

.btn 
{
    font-weight: 600;
    font-size: large;
    transition: all 300ms ease;
    padding:1rem;
    width:8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2
{
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover
{
    cursor:pointer;
    transform:scale(1.15);

}

.btn-color-1:active, .btn-color-2:active
{
    opacity:0.5;

}

.btn-color-1, .btn-color-2:hover
{
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover
{
    background: white;
    color:black;
}

.btn-color-2
{
    background: none;
}

.btn-color-2:hover
{
    border:rgb(255,255,255) 0.1rem solid;
    
}

.btn-container {gap:1rem;}

/* About Section */
#about
{
    position: relative;
}

.about-containers
{
    display:flex;
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container
{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container
{
    display:flex;
}

.about-pic
{
    border-radius: 50%;
}

.icon-arrow
{
    position:absolute;
    right: -0.1rem;
    bottom:2.5rem;
    height:4rem;
    width:4rem;
    transition: all 300ms ease-in-out;
}

.icon-arrow:hover
{
    transform:translateY(-1rem);
    cursor:pointer;
}

.details-container
{
    padding: 2rem;
    flex:1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.section-container
{
    gap:4rem;
    height:80%;
}

.section__pic-container
{
    height: 400px;
    width: 400px;
    margin: auto 0;
    margin-left: 1rem;
}

/* Experience Section */
#experience
{
    position:relative;
}

.experience-subtitle
{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container
{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.article-container
{
    display:flex;
    text-align: justify;
    flex-wrap: wrap;
    flex-direction: row;
    gap:2.5rem;
    justify-content: space-around;
}

article
{
    display: flex;
    width:10rem;
    justify-content: space-around;
    gap:0.5rem;
    border-style:hidden;
    
}

article h3{transition:all 450ms ease-in-out;}

article h3:hover
{
    text-decoration: underline;
    cursor:pointer;
    transform:translateY(-1rem) scale(1.30);
}

.static-icon
{
    height:2rem;
    cursor:default;
}

/* Projects Section */
#projects
{
    position:relative;
}

.color-container
{
    justify-content: center;
    border-color: rgb(163,163,163);
    background:rgb(250,250,250);
}

.color-container li
{
    font-weight: 100;
    font-size: larger;
    margin:0.5rem 2rem;
    color:black;
    text-align: left;
}

.color-container strong
{
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.01rem;
}


.project-image
{
    display:flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
    
}

.streamflow
{
    width: 80vh;
}

.delivery-cannon
{
    margin-left: 3rem;
    width:80vh;
}

.project-title
{
    margin:1rem;
    color:black;
}

.project-btn
{
    border-color:rgb(163,163,163)
}

/* Contact Section */
#contact
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:70h;
}
.contact-info-upper-container
{
    border:rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    border-radius: 2rem;
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 1rem;
    display:flex;
    justify-content: center;
}

.contact-info-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap:0.5rem;
}

.contact-info-container p
{
    font-size: larger;
}

.email-icon
{
    height:2.5rem;
}

/* Footer */
footer
{
    height:20vh;
    margin:0.1rem;
}

footer p
{
    font-weight: 200;
    font-size: x-small;
    text-align: center;
}